header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  margin-bottom: 10px;
}
a{
  text-decoration: none;

}
.Lsidebar{
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Lsidebar img{
  width: 120px;
}

.Rsidebar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  height: 100%;
}
.Rsidebar i{
  font-size: large;
}
.bannerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner{
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  width: 90%;
  height: 80vh;
  background-color: rgba(255, 0, 0, 0.2);
}
.banner div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
 }
 .banner .text{
  padding-left: 200px;
 }
 .banner .text h1{
  margin-top: -10px;
  margin-bottom: -10px;
}
.banner .text h3{
  color: crimson;
}

.banner .text button{
  color: white;
  background-color: crimson;
  padding: 10px;
  border: none;
}


.banner img{
  width: 100%;
  max-height: 100%;
}
.productsBG{
  padding: 20px ;
}

.products{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  padding-top: 20px;
}
.prductcard{
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 300px;
  height: 350px;
 }
.prductcard img{
  height: 100%;
  border-radius: 20px;
}
.prductcard #pic{
  border-radius: 20px;
  width: 100%;
  height: 70%;
  display: flex;
  background-color: rgba(0, 0, 255, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#h1{
  width: 100%;
  text-align: center;
}
.prductcard div{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prductcard div h3 ,.prductcard div i ,.prductcard div h2 {
 margin-top: -10px;
}
.prductcard div h2 {
  color: crimson;
  font-weight: bolder;
  font-style: italic;
}